@import "../common/common"

.search-form__title
  font-size: 19px
  line-height: 25px
  font-family: 'Noto Sans', sans-serif
  font-weight: 400
  color: $black_default
  margin-bottom: 20px

  +min-w($desktop)
    font-size: 35px
    line-height: 48px

  span
    color: $red_default
    font-weight: 600

  a
    color: $black_default
    text-decoration: none
    border-bottom: 1px solid $red_default

.search-form__form
  display: flex
  flex-direction: row
  justify-content: space-between
  background: #34465e
  padding: 3px
  border-radius: 4px
  align-content: stretch
  font-family: 'Noto Sans', sans-serif
  font-weight: 400
  position: relative
  z-index: 2

  +min-w($desktop)
    padding: 5px
    border-radius: 6px

  input
    font-size: 17px
    line-height: 20px
    padding: 5px 8px
    border-radius: 3px
    border: none
    flex-grow: 1
    outline: none

    +min-w($desktop)
      border-radius: 5px
      padding: 6px 9px
      font-size: 22px
      line-height: 32px

  button
    width: 18%
    max-width: 50px
    display: block
    background: url("./search.svg") no-repeat center center
    background-size: contain
    border: none
    margin: 4px 3px
    outline: none

    +min-w($laptop)
      max-width: 80px

    +min-w($desktop)
      max-width: 120px
      cursor: pointer

.search-form__form-wrapper
  position: relative

.search-form__result
  position: absolute
  top: 36px
  left: 0
  padding: 10px 3px 5px 3px
  width: calc(100% - 69px)
  margin-left: 3px
  -webkit-box-shadow: 0 0 29px 32px rgba(34, 60, 80, 0.2)
  -moz-box-shadow: 0 0 29px 32px rgba(34, 60, 80, 0.2)
  box-shadow: 0 0 29px 32px rgba(34, 60, 80, 0.2)
  background: $white_default

  +min-w($laptop)
    width: calc(100% - 97px)

  +min-w($desktop)
    padding: 15px 0 5px 0
    top: 55px
    width: calc(100% - 142px)

.search-form__result-item
  display: flex
  flex-direction: row
  height: 30px
  box-sizing: border-box
  margin: 7px 0
  text-decoration: none

  +min-w($desktop)
    padding: 7px 5px
    margin: 0

    &:hover
      background: #c9d1db
      cursor: pointer

  +min-w($full_desktop)
    height: 56px


.search-form__result-item-photo
  width: 30px
  height: 30px

  +min-w($full_desktop)
    width: 40px
    height: 40px

  img
    object-fit: cover
    display: block
    width: 100%

.search-form__result-item-text
  font-family: 'Noto Sans', sans-serif
  font-weight: 400
  color: $black_default
  margin-left: 10px
  width: calc(100% - 45px)

  h4
    font-size: 12px
    line-height: 18px
    font-weight: 500
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: block

  p
    font-size: 10px
    line-height: 12px

  +min-w($full_desktop)

    h4
      font-size: 19px
      line-height: 22px

    p
      font-size: 16px
      line-height: 22px

