{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"],
    "prefer-const": "warn",
    "indent": ["warn", 4],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": ["warn", "always"]
  }
}