body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.card-content__desc {
  display: flex;
  justify-content: space-between;
}

.content__films {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.content__films .card {
  width: 22%;
  margin: 1.5%;
  min-width: 200px;
}

.search {
  margin-top: 20px;
}

.search-form__radio {
  display: flex;
}

.search-form__radio p {
  margin-right: 30px;
}

.search-form__name {
  position: relative;
}

.search-form__btn {
  position: absolute;
  top: 3px;
  right: 0;
}

.search-name-error {

}

.search-name-error input[type=text]:not(.browser-default) {
  border-bottom: 1px solid red;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination__item {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #000000;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item--current {
  border: 3px solid #af0f0f;
  box-sizing: border-box;
}

.content__film {
  margin-top: 20px;
  display: flex;
}

.content__photo {
  width: 30%;
  margin-right: 5%;
}

.content__photo img {
  width: 100%;
  object-fit: cover;
}

.content__text{
  flex: 1;
}

.content__text h1 {
  text-align: center;
  font-size: 30px;
}

.content__text p {
  font-size: 24px;
}