@import "../common/common.sass"

.search-page__title
  font-family: 'Noto Sans', sans-serif
  font-weight: 500
  font-size: 20px
  line-height: 25px
  margin-bottom: 15px

  +min-w($laptop)
    font-size: 28px
    line-height: 33px
    margin-bottom: 20px

.search-page__content
  display: flex

.search-page__filter
  width: 300px
  margin-right: 20px

.search-page__result
  flex-grow: 1